main {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

/* Fondo con bgjar  https://blog.logrocket.com/best-css-background-generators/ */
#presentacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    background-repeat: no-repeat;
    padding-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 15px;
    padding-left: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(255, 170, 0);
    text-shadow: 5px 5px 15px red;
    transform: scale(1.1);
}

.nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    animation: floatAnimation 2s infinite alternate;
}

.barra {
    font-size: 100px;
    padding-left: 30px;
    padding-right: 30px;
}


@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

@media only screen and (min-width: 1031px) {
    nav a {
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nombre h1 {
        font-size: 80px;
    }

    .titulos {
        padding-top: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulos div {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        width: 500px;
    }

    .sobreMi {
        margin: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .uno {
        order: 2;
    }
    
    .dos {
        width: 50vw;
        order: 1;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1030px) {
    .nombre {
        margin-top: 15vh;
    }

    .nombre h1 {
        text-align: center;
        font-size: 80px;
    }

    nav a {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .titulos {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .barra {
        display: none;
    }

    hr {
        width: 90vw;
        border: white 1px solid;
        opacity: 1;
    }

    .sobreMi {
        margin: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
    .uno {
        order: 2;
    }
    
    .dos {
        order: 1;
    }
}



@media only screen and (max-width: 767px) {
    .nombre {
        margin-top: 15vh;
    }

    .nombre h1 {
        text-align: center;
        font-size: 70px;
    }

    nav {
        align-items: center;
        justify-content: space-between;
    }

    nav a {
        font-size: 20px;
    }

    .titulos {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .barra {
        display: none;
    }

    hr {
        width: 90vw;
        border: white 1px solid;
        opacity: 1;
    }

    .sobreMi {
        margin: 15px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .sobreMi img {
        width: 40vw;
    }

    .uno {

        order: 1;
    }

    .dos {
        order: 2;
    }

    .proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.sobreMi {
    display: flex;
    
}

#about {
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #CABAED;
    color: black;
}

.sobreMi img {
    border-radius: 20px;
    border: black solid 3px;
    box-shadow: 5px 5px 15px black;
}

.sobreMi p {
    font-size: 20px;
    margin-top: 5vh;
    text-align: left;
}

/* HOLA */
#proyects {
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    padding-top: 5vh;
    text-align: center;
}

.proyecto{
    transform: scale(0.7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyecto img{
    border-radius: 15px;
    transform: scale(0.9);

}

/* HOLA */
#tecnologias {
    background-color: #CABAED;
    color: black;
}

/* HOLA */
#contacto {
    background-color: #2A00A1;
    color: white;
}